@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Manrope';
    src: url("fonts/Manrope/static/Manrope-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
